.categories {
  display: grid;
  justify-items: center;
  gap: 30px;
  position: relative;
  margin-bottom: 100px;
  margin-top: 100px;

  /* Font-sizes */
  --heading: 3.2rem;
  --categories: 2.3rem;
}

.categories-list {
  display: flex;
  gap: 50px;
}

.heading {
  font-family: 'Aileron', sans-serif;
  color: var(--smooth-dark-font);
  font-size: var(--heading);
}

.category {
  position: relative;
  height: 500px;
  width: 350px;
  margin-bottom: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: var(--light-font);
  font-size: var(--categories);
  pointer-events: none;
  transition: filter 0.5s ease;
  z-index: auto;
}

.category:hover {
  filter: brightness(75%);
}

.category0 {
  composes: category;
  background: center / cover no-repeat url(../../assets/dresses.jpg);
}

.category1 {
  composes: category;
  background: center / cover no-repeat url(../../assets/tops.jpg);
}

.category2 {
  composes: category;
  background: center / cover no-repeat url(../../assets/curve.jpg);
}

.category3 {
  composes: category;
  background: center / cover no-repeat url(../../assets/men.jpg);
}

.category > a {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.734);
  text-align: center;
  width: 80%;
  pointer-events: auto;
  border-radius: 2px;
}

.background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0;
  background-color: rgb(255, 218, 224);
}