@font-face {
  font-family: 'Raleway';
  src: url('../assets/raleway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('../assets/aileron.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/lato.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --light-font: rgb(225, 225, 225);
  --smooth-dark-font: rgb(20, 20, 20);
  --gray-font: rgb(70, 70, 70);

  /* Font-sizes */
}

main {
  overflow: hidden;
}
