header {
  padding: 20px;
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  font-family: 'Raleway', sans-serif;
  display: grid;
  font-size: var(--logo);
}

.logo span {
  display: block;
}

.navigation-links {
  display: flex;
  gap: 3vw;
  font-size: var(--navigation-links);
  font-family: 'Aileron', 'sans-serif';
}

a {
  transition: text-decoration-color 0.3s ease;
}

.active {
  color: var(--active-header-link);
  text-decoration-color: rgb(0, 0, 0, 0);
}

.secondary-navigation-links {
  display: flex;
  gap: 30px;
}

.secondary-navigation-links img {
  width: 30px;
}

.count {
  position: absolute;
  left: 17px;
  top: -6px;
  padding: 2px 5px;
  background-color: rgb(221, 126, 126);
  border-radius: 50%;
}

.cart {
  position: relative;
}
